:host {
    width: 100%;
    height: 115px;
    background-color: #f5f6f7;
    display: block;
    overflow: hidden;

    //border: 1px solid black;
    #nav-tab {
        height: 25px;

        a {
            font-size: 12px;
            height: 100%;
            vertical-align: center;
            display: flex;
            align-items: center;
            color: black;

            img {
                width: 20px;
            }
        }

    }

    .tab-content {
        //background-color: chocolate;
        height: calc(100% - 25px);
        width: 100%;

        #nav-profile {

            // flex-direction: row;
        }

        .tab-pane {
            // background-color: crimson;
            width: 100%;
            height: 100%;

            // display: flex;
            // flex-direction: row;
            .home-content {
                position: relative;
                display: inline-block;
                width: 100px;
                //  background-color: chartreuse;
                height: 100%;
                border-right: 1px solid #e3e4e5;

                .content {
                    width: 100%;
                    height: 70px;
                    // background-color: brown;
                }

                .title {
                    // background-color: crimson;
                    width: 100%;
                    height: 20px;
                    color: rgb(90, 90, 90);
                    font-size: 12px;
                    text-align: center;
                    vertical-align: center;
                }

            }
            .tools{
                .content{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    .active{
                        background-color: rgba(#34ade9, 0.1);
                        border: 1px solid #34ade9;
                    }
                    img{
                        width:25px;
                        height:25px;
                       // background-color: blue;
                        margin:2px;
                        padding:2px;
                        cursor: pointer;
                        &:hover {
                            background-color: rgba(#34ade9, 0.1);
                            border: 1px solid #34ade9;
                        }
                    }
                }
            }
            .brush-size {
                
                .content{
                    display: flex;
                flex-direction: column;
                padding-left: 4px;
                padding-right: 4px;
             //   overflow-y: scroll;
                    button {
                        border: none;
                        background-color: #ece8e8;
                        margin-bottom: 5px;
                        padding: 2px;
                        height: 20px;
                       // outline: none;
                        position: relative;
                        cursor: pointer;
    
                        &:nth-of-type(1):after {
                            height: 1px;
                        }
    
                        &:nth-of-type(2):after {
                            height: 2px;
                        }
    
                        &:nth-of-type(3):after {
                            height: 3px;
                        }
    
                        &:nth-of-type(4):after {
                            height: 4px;
                        }
                        &:nth-of-type(5):after {
                            height: 5px;
                        }
                        &:after {
                            height: 1px;
                            display: block;
                            background: #808080;
                            content: '';
                          }
                    }
                }
               
            }

            .colors {
                width: 420px;

                .content {
                    display: flex;
                    .current-color{
                        margin-left: 5px;
                        background-color: rgba(#34ade9, 0.1);
                            border: 1px solid #34ade9;
                        &:hover {
                            background-color: rgba(#34ade9, 0.1);
                            border: 1px solid #34ade9;
                        }
                        &:active {
                            background-color: rgba(#34ade9, 0.1);
                            border: 1px solid #34ade9;
                        }
                      //  background-color: blue;
                        width:200px;
                        height:100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                       // margin-right: 5px;
                        button{
                            width:30px;
                            height:30px;
                            background-color: black;
                            border:none;
                            margin-bottom: 5px;
                        }
                        p{
                           // margin-top: 5px;
                            font-size: 12px;
                            text-align: center;
                            line-height: 1;
                        }
                    }
                    .color-picker {
                        cursor: pointer;
                        width: 200px;
                        //  background-color: red;
                        display: flex;
                        flex-direction: column;
                        
                        justify-content: center;
                        align-items: center;
                        margin-right: 5px;

                        &:hover {
                            background-color: rgba(#34ade9, 0.1);
                            border: 1px solid #34ade9;
                        }

                        input {
                            margin-top: 5px !important;
                            cursor: pointer;
                            border:none;
                        }

                        label {
                            margin-top: 5px;
                            font-size: 12px;
                            text-align: center;
                            line-height: 1;
                            cursor: pointer;
                        }
                    }

                    .colors-content {
                        margin-left: 10px;

                        button {
                            &:hover {
                                background-color: rgba(#34ade9, 0.1);
                                border: 1px solid #34ade9;
                            }

                            display: inline-block;
                            border: 1px solid #00000026;
                            border-radius: 0;
                            outline: none;
                            cursor: pointer;
                            width: 20px;
                            height: 20px;
                            // margin-bottom: 5px;
                            margin:1px;

                            &:nth-of-type(1) {
                                background-color: #0000ff;
                            }

                            &:nth-of-type(2) {
                                background-color: #009fff;
                            }

                            &:nth-of-type(3) {
                                background-color: #0fffff;
                            }

                            &:nth-of-type(4) {
                                background-color: #bfffff;
                            }

                            &:nth-of-type(5) {
                                background-color: #000000;
                            }

                            &:nth-of-type(6) {
                                background-color: #333333;
                            }

                            &:nth-of-type(7) {
                                background-color: #666666;
                            }

                            &:nth-of-type(8) {
                                background-color: #999999;
                            }

                            &:nth-of-type(9) {
                                background-color: #ffcc66;
                            }

                            &:nth-of-type(10) {
                                background-color: #ffcc00;
                            }

                            &:nth-of-type(11) {
                                background-color: #ffff00;
                            }

                            &:nth-of-type(12) {
                                background-color: #ffff99;
                            }

                            &:nth-of-type(13) {
                                background-color: #003300;
                            }

                            &:nth-of-type(14) {
                                background-color: #555000;
                            }

                            &:nth-of-type(15) {
                                background-color: #00ff00;
                            }

                            &:nth-of-type(16) {
                                background-color: #99ff99;
                            }

                            &:nth-of-type(17) {
                                background-color: #f00000;
                            }

                            &:nth-of-type(18) {
                                background-color: #ff6600;
                            }

                            &:nth-of-type(19) {
                                background-color: #ff9933;
                            }

                            &:nth-of-type(20) {
                                background-color: #f5deb3;
                            }

                            &:nth-of-type(21) {
                                background-color: #330000;
                            }

                            &:nth-of-type(22) {
                                background-color: #663300;
                            }

                            &:nth-of-type(23) {
                                background-color: #cc6600;
                            }

                            &:nth-of-type(24) {
                                background-color: #deb887;
                            }

                            &:nth-of-type(25) {
                                background-color: #aa0fff;
                            }

                            &:nth-of-type(26) {
                                background-color: #cc66cc;
                            }

                            &:nth-of-type(27) {
                                background-color: #ff66ff;
                            }

                            &:nth-of-type(28) {
                                background-color: #ff99ff;
                            }

                            &:nth-of-type(29) {
                                background-color: #e8c4e8;
                            }

                            &:nth-of-type(30) {
                                background-color: #ffffff;
                            }

                        }
                    }
                }

            }

            .zoom {
                .content {
                    //  background-color: black;
                    display: flex;

                    .zoom-img {
                        &:hover {
                            background-color: rgba(#34ade9, 0.1);
                            border: 1px solid #34ade9;
                        }

                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 50%;
                        height:100%;
                        // background-color: blue;
                        text-align: center;

                        img {
                            width: 30px;
                            height: 30px;
                        }

                        p {
                            height: 0;
                            font-size: 12px;
                            line-height: 1;
                            margin-top: 0px !important;
                            padding-bottom: 0;
                        }
                    }
                }
            }

            .afficher {
                width: 80px;

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(#34ade9, 0.1);
                        border: 1px solid #34ade9;
                    }
                }

                img {
                    width: 30px;
                    height: 30px;
                }

                p {
                    height: 0;
                    font-size: 12px;
                    line-height: 1;
                    margin-top: 0px !important;
                    padding-bottom: 0;
                }


            }
        }
    }
}