<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link " id="saveButton" href="#" (click)="saveImageEvent()"><img src="assets/save.png" alt=""></a>
    <a class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
      aria-controls="nav-profile" aria-selected="true">Accueil</a>
    <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab"
      aria-controls="nav-contact" aria-selected="false">Affichage</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <!--div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    </div-->
  <div class="tab-pane fade  show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="home-content tools">
      <div class="content">
        <img src="assets/pencil.png"  class="tool-option active" value="1" (click)="chooseTool($event)" alt="1">
        <img src="assets/fill_color.png"  class="tool-option" value="2" (click)="chooseTool($event)" alt="2">
        <!--img src="assets/a.png"  class="tool-option" value="3" (click)="chooseTool($event)" alt="3"-->
        <img src="assets/eraser.png"  class="tool-option" value="4" (click)="chooseTool($event)" alt="4">
        <!--img src="assets/dropper.png" (click)="chooseTool($event)" class="tool-option" alt=""-->
        <!--img src="assets/search.png" alt=""-->
      </div>
      <div class="title">Outils</div>
    </div>
    <!--div class="home-content">
      <div class="content">

      </div>
      <div class="title">Forme</div>
    </div-->
    <div class="home-content brush-size">
      <div class="content">
        <button type="button" value="1" (click)="changeLineWidth($event)"></button>
        <button type="button" value="2"  (click)="changeLineWidth($event)"></button>
        <button type="button" value="3"  (click)="changeLineWidth($event)"></button>
        <button type="button" value="4"  (click)="changeLineWidth($event)"></button>
        <button type="button" value="5"  (click)="changeLineWidth($event)"></button>
      </div>
      <div class="title" >taille</div>
    </div>
    <div class="home-content colors">
      <div class="content">
        <div class="current-color">
          <button type="button" [value]="currentColor" [ngStyle]="{backgroundColor: currentColor}" ></button>
          <p>Couleur</p>
        </div>
        <div class="colors-content">
          <button type="button" value="#0000ff" (click)="colorPick($event)"></button>
          <button type="button" value="#009fff" (click)="colorPick($event)"></button>
          <button type="button" value="#0fffff" (click)="colorPick($event)"></button>
          <button type="button" value="#bfffff" (click)="colorPick($event)"></button>
          <button type="button" value="#000000" (click)="colorPick($event)"></button>
          <button type="button" value="#333333" (click)="colorPick($event)"></button>
          <button type="button" value="#666666" (click)="colorPick($event)"></button>
          <button type="button" value="#999999" (click)="colorPick($event)"></button>
          <button type="button" value="#ffcc66" (click)="colorPick($event)"></button>
          <button type="button" value="#ffcc00" (click)="colorPick($event)"></button>
          <button type="button" value="#ffff00" (click)="colorPick($event)"></button>
          <button type="button" value="#ffff99" (click)="colorPick($event)"></button>
          <button type="button" value="#003300" (click)="colorPick($event)"></button>
          <button type="button" value="#555000" (click)="colorPick($event)"></button>
          <button type="button" value="#00ff00" (click)="colorPick($event)"></button>
          <button type="button" value="#99ff99" (click)="colorPick($event)"></button>
          <button type="button" value="#f00000" (click)="colorPick($event)"></button>
          <button type="button" value="#ff6600" (click)="colorPick($event)"></button>
          <button type="button" value="#ff9933" (click)="colorPick($event)"></button>
          <button type="button" value="#f5deb3" (click)="colorPick($event)"></button>
          <button type="button" value="#330000" (click)="colorPick($event)"></button>
          <button type="button" value="#663300" (click)="colorPick($event)"></button>
          <button type="button" value="#cc6600" (click)="colorPick($event)"></button>
          <button type="button" value="#deb887" (click)="colorPick($event)"></button>
          <button type="button" value="#aa0fff" (click)="colorPick($event)"></button>
          <button type="button" value="#cc66cc" (click)="colorPick($event)"></button>
          <button type="button" value="#ff66ff" (click)="colorPick($event)"></button>
          <button type="button" value="#ff99ff" (click)="colorPick($event)"></button>
          <button type="button" value="#e8c4e8" (click)="colorPick($event)"></button>
          <button type="button" value="#ffffff" (click)="colorPick($event)"></button>
        </div>
        <div class="color-picker">
          <input type="color" id="favcolor" name="favcolor" value="#ff0000" (change)="colorPick($event)">
          <label for="favcolor">Modifier les couleurs</label>
        </div>

      </div>
      <div class="title">Couleurs</div>
    </div>


  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="home-content zoom">
      <div class="content">
        <div class="zoom-img" (click)="noAction()">
          <img src="assets/zoom_in.png" alt="">
          <p>Zoom avant</p>
        </div>
        <div class="zoom-img" (click)="noAction()">
          <img src="assets/zoom_out.png" alt="">
          <p>Zoom arrière</p>
        </div>

      </div>
      <div class="title">Zoom</div>
    </div>
    <div class="home-content afficher">
      <div class="content" (click)="noAction()">
        <img src="assets/full_screen.png" alt="">
        <p>Plein écran</p>
      </div>
      <div class="title">Afficher</div>
    </div>
  </div>
</div>