:host {
    width: 100%;
    height:115px;
    background-color:#f5f6f7;
    display: block;
    //border: 1px solid black;
    #nav-tab{
        height:25px;
        a{
            font-size: 12px;
            height: 100%;
            vertical-align: center;
            display: flex;
            align-items: center;
            color: black;
            img{
                width: 25px;
            }
        }
        
    }
    .tab-content{
        //background-color: chocolate;
        height: calc(100% - 25px);
        width: 100%;
        .tab-pane{
          // background-color: crimson;
            width:100%;
            height: 100%;
            .home-content{
                width:100px;
              //  background-color: chartreuse;
                height:100%;
                border-right: 1px solid #e3e4e5;
                .content{
                    width: 100%;
                    height: 70px;
                   // background-color: brown;
                }
                .title{
                   // background-color: crimson;
                    width: 100%;
                    height: 20px;
                    color:grey;
                    font-size: 12px;
                    text-align: center;
                    vertical-align: center;
                }

            }
        }
    }
}