
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link " id="saveButton" href="#" ><img src="assets/save.png" alt=""></a>
      <a class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Accueil</a>
      <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Affichage</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!--div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    </div-->
    <div class="tab-pane fade  show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="home-content tools">
        <div class="content">
          
        </div>
        <div class="title">Outils</div>
      </div>
      <div class="home-content">
        <div class="content">
          
        </div>
        <div class="title">Forme</div>
      </div>
      <div class="home-content">
        <div class="content">
          
        </div>
        <div class="title">Couleurs</div>
      </div> 
     
    
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="home-content">
        <div class="content">
          
        </div>
        <div class="title">Zoom</div>
      </div>
      <div class="home-content">
        <div class="content">
          
        </div>
        <div class="title">Afficher</div>
      </div>
    </div>
  </div>
