:host {
    display: block;
    position: relative;
    width: 100%;
    height: calc(100% - 125px);
    background-color: #ccd5e5;
  // background-color: black;
    overflow-x:scroll;
    overflow-y:scroll;
    .canvas-container {
        position: relative;
        top: 5px;
        left: 5px;
        background-color: white;
        box-shadow: 2px 2px 10px 1px rgba(0, 0, 255, .2);
        width: 600px;
        height: 400px;
      //  background-color: red;
        .resizer {
            /* All resizers are positioned absolutely inside the element */
            position: absolute;
        }
        /* Placed at the right side */
        .resizer-r {
            cursor: e-resize;
            height: 100%;
            right: 0;
            top: 0;
            width: 5px;
           // background-color: blue;
        }

        /* Placed at the bottom side */
        .resizer-b {
            bottom: 0;
            cursor: n-resize;
            height: 5px;
            left: 0;
            width: 100%;
           // background-color: blue;
        }
        canvas{
            position: relative;
            width:calc(100% - 5px);
            height: calc(100% - 5px);
            cursor: crosshair;
           // background-color: brown;
        }
    }
}